<!--<md-content md-is-locked-open=true flex=15 layout="row" class="background md-whiteframe-2dp">        
    <md-list flex>
        <md-subheader class="md-no-sticky">Filtros</md-subheader>
        <md-list-item ng-click=null>
            <p> Mementos </p>            
        </md-list-item>
        <md-list-item ng-click=null>
            <p> Mementos </p>            
        </md-list-item>
        <md-list-item ng-click=null>
            <p> Mementos </p>            
        </md-list-item>
    </md-list>        
</md-content>-->
<md-content flex class="background" layout="row">
    <!--<md-card ng-click="editProduct(product._id)" flex="25">
        <img ng-src="http://g02.a.alicdn.com/kf/HTB1ctgiIFXXXXcYXXXXq6xXFXXXh/-Brand-New-Original-Super-Quality-with-box-packing-Pilot-bp-s-multicolour-ballpoint-pen-bp.jpg"
                class="md-card-image product-image">
    </md-card>-->
    
    
    
    <md-content flex>
        <section  flex=70 flex-sm=80 flex-offset-sm="10" flex-offset="15">
            <div flex=100 class="md-padding">
                <md-chips 
                    ng-model="tags"
                    readonly="readonly"
                    md-removable="removable"
                    placeholder="Busquemos un producto!"
                    delete-button-label="Remove Tag"
                    delete-hint="Press delete to remove tag"
                    secondary-placeholder="Escribe algo mas!"></md-chips>
                            
            </div>        
                
            <div flex-offset=5 flex=95 class="grid">                
                <div flex-xs=100 flex=30 md-whiteframe="24" class="card sticky-action" ng-repeat="i in images">
                    <div class="card-image">
                        <img materialboxed class="materialboxed responsive-img" width="650" ng-src="{{i}}">
                    </div>
                    <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Card Title</span>
                    </div>
                    <div class="card-action">
                        250 Bs el paquete
                    </div>

                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                        <p>Deposito 2, Estante 1, Peldaño 4</p>
                        <md-list>
                            <md-list-item>
                                <p>Memento</p>                                
                            </md-list-item>
                            <md-divider></md-divider>
                            <md-list-item>
                                <p>260 Unidades en deposito </p>                                
                            </md-list-item>
                            <md-divider></md-divider>
                            <md-list-item>
                                <p>Tunari</p>                                
                            </md-list-item>
                            <md-divider></md-divider>
                        </md-list>
                    </div>                    
                </div>
                <div flex-xs=100 flex=30 md-whiteframe="24" class="card sticky-action" ng-repeat="i in images">
                    <div class="card-image">
                        <img materialboxed class="materialboxed responsive-img" width="650" ng-src="{{i}}">
                    </div>
                    <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Card Title</span>
                    </div>
                    <div class="card-action">
                        250 Bs el paquete
                    </div>

                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                        <p>Deposito 2, Estante 1, Peldaño 4</p>
                        <md-list>
                            <md-list-item>
                                <p>Memento</p>                                
                            </md-list-item>
                            <md-divider></md-divider>
                            <md-list-item>
                                <p>260 Unidades en deposito </p>                                
                            </md-list-item>
                            <md-divider></md-divider>
                            <md-list-item>
                                <p>Tunari</p>                                
                            </md-list-item>
                            <md-divider></md-divider>
                        </md-list>
                    </div>                    
                </div>
                <md-card flex-xs=100 flex=30 md-whiteframe="24" >                    
                </md-card>                                                
            </div>
        </section>
        
    </md-content>

    <md-button class="md-fab md-fab-bottom-right" style="bottom: 90px">          
        <ng-md-icon style="fill: #fff" icon="search" class="fab-button-icon" size="40">
        </ng-md-icon>  
    </md-button>
    <md-button class="md-fab md-fab-bottom-right">          
        <ng-md-icon style="fill: #fff" icon="add" class="fab-button-icon" size="40">
        </ng-md-icon>  
    </md-button>

</md-content>