<md-content flex class="background md-padding layout-wrap" layout="row">
    <div class="animate-repeat" ng-repeat="product in products" flex-sm="33" flex-md="25" flex-gt-md="20"
          layout="column" class="product-card">
        <md-card ng-click="editProduct(product._id)">
            <img check-image ng-src="{{getProductImageUrl(product, '-L')}}"
                 class="md-card-image product-image">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-title">{{product.name}}</span>
                </md-card-title-text>
            </md-card-title>
        </md-card>
    </div>
</md-content>