<md-content class="background" layout-padding layout="row" layout-wrap>
	<md-card flex-xs="100" flex-md="50" flex layout-padding layout="row" layout-wrap>
		<!-- <div flex ng-include="'../views/desktopmaterialDetails.html'"  layout="row" layout-wrap></div> -->
		<section flex layout="column">
			<md-input-container flex>			    			   
			    <label>Categoria</label>
				<md-select  ng-model="selectedProduct.category" ng-change="changeCategory()" aria-label="category">
					<md-option ng-repeat="category in categories" value="{{category}}">
						{{category}}
					</md-option>
		        </md-select>
			</md-input-container>			
			<md-input-container flex>
			    <label>Nombre</label>
			    <input ng-model="selectedProduct.name">
			</md-input-container>
			<md-input-container flex>
			    <label>Proveedor</label>
			    <input ng-model="selectedProduct.provider">
			</md-input-container>		
		</section>	
	</md-card>
	<!--<div flex-xs="100" flex-md="45" flex layout-padding ng-show="selectedProduct.category=='Invitaciones'"-->
	  <!--ng-include="'../views/invitationDetails.html'">-->
	<!--</div>-->
    <div class="reveal-animation" flex-xs="100" flex-md="45" flex layout-padding
         ng-show="specificProductView" ng-include="specificProductView"></div>
	<md-card flex-xs="100" flex-md="45" flex layout="row" layout-wrap>		
		<section flex layout="row" layout-wrap>
			<md-input-container flex="100">
			    <label>Cantidad por paquete</label>
			    <input ng-model="selectedProduct.properties.quantityPerPackage">
			</md-input-container>
			<md-input-container flex="50">
			    <label>Precio de compra (Bs.)</label>
			    <input ng-model="selectedProduct.buyingPrice.value">
			</md-input-container>
			<md-input-container flex="50">
				<label>Tipo de Precio de compra</label>
				<md-select  ng-model="selectedProduct.buyingPrice.type" aria-label="newPrice">
					<md-option ng-repeat="priceType in priceOptions.types" value="{{priceType}}">
						{{priceType}}
					</md-option>
		        </md-select>
			</md-input-container>
			<md-input-container flex="100">
			    <label>Cantidad en el deposito (Unidades).</label>
			    <input ng-model="selectedProduct.quantity">
			</md-input-container>
			<md-input-container flex="100">
			    <label>Ubicacion en la tienda</label>
			    <input ng-model="selectedProduct.locations[0].value">
			</md-input-container>
		</section>
	</md-card>
	<md-card flex-xs="100" flex-md="50" flex>
		<md-card-title-text>
            <span class="md-headline">Selecciona el precio de venta principal:</span>
        </md-card-title-text>			
		<md-card-content>
			<md-radio-group ng-model="selectedProduct.price" layout-margin>
				<md-radio-button ng-repeat="price in selectedProduct.prices" ng-value="price">
					{{price.type}} {{price.description}}, {{price.value}} Bs.
				</md-radio-button>			
			</md-radio-group>
		</md-card-content>
	</md-card>
	<md-card flex-xs="100" flex-md="45" flex="100">
		<md-card-title-text>
            <span class="md-headline">Etiquetas del producto:</span>
        </md-card-title-text>	
        <md-card-content>
			<md-chips ng-model="selectedProduct.tags" name="tag" placeholder="Introducir una etiqueta"
				 secondary-placeholder="+Etiqueta">
				<md-chip-template>
				  <strong>{{$chip}}</strong>
				  <!-- <em>(fruit)</em> -->
				</md-chip-template>
			</md-chips>
        </md-card-content>	
	</md-card>
</md-content>
