<md-dialog flex-gt-xs="50" aria-label="summaryCart"  ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Nuevo Producto</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <ng-md-icon class="icon" style="fill: #fff" icon="close" size="20" aria-label="call">
                </ng-md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <form layout-padding flex  ng-submit="save()">
        <md-dialog-content flex layout="column">
             <br/>
            <div flex layout="row">
                <md-input-container flex>
                    <md-select ng-model="product.category" placeholder="Categoria">
                        <md-option ng-repeat="category in categories" ng-value="category">
                            {{category.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex ng-if="product.category.name === 'Invitaciones'">
                    <md-select ng-model="product.properties.type" placeholder="Tipo">
                        <md-option ng-repeat="type in invitationTypes" ng-value="type">
                            {{type}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <md-chips flex ng-if="!IsAddingCodesEnabled" placeholder="Nombres de los productos!" ng-model="productNames">
            </md-chips>
            <div flex ng-if="IsAddingCodesEnabled" layout="row">
                <md-input-container flex>
                    <label>Codigo</label>
                    <input>
                </md-input-container>
                <md-input-container flex>
                    <label>Min</label>
                    <input>
                </md-input-container>
                <md-input-container flex>
                    <label>Max</label>
                    <input>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-checkbox ng-model="IsAddingCodesEnabled" aria-label="Checkbox 1">
                Agregar codigos
            </md-checkbox>
            <span flex></span>
            <md-button type="button" ng-click="cancel()">
                Cancelar
            </md-button>
            <md-button type="submit">
                Salvar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>